<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h3{
            color: lightblue;
        }
    </style>
</head>
<body>


<nav>
 <h3 align = 'left'><a href="#">Profile</a></h3><h3 align = 'right'><a href="/home/">Logout</a></h3>
    <h3 align = 'left'><a href="#">DashBoard</a></h3><h3 align = 'right'><a href="#">Add Admin</a></h3>
    <h3 align = 'left'><a href="#">Student Profile</a></h3><br>
    <h3 align = 'left'><a href="/examscreen/">Exam</a></h3><br>
    <h3 align = 'left'><a href="/suball/">Subject</a></h3><br>
    <h3 align = 'left'><a href="#">Results</a></h3><br>
    <h3 align = 'left'><a href="#">Notifications</a></h3>


</nav>
</body>
</html>