<html>
<head>
    <style>
        div{
            background-color:blue;
            padding-top: 30px;
        }
    </style>
</head>
<body bgcolor="#483d8b">
<div align="center">
    <mark><a href="/examcode/" target="iframe_a" style="color:blue"><input type = 'button' value = '+Add'></a></mark>
    <mark><a href="/examdel/" target="iframe_a" style="color:blue"><input type = 'button' value = '-Delete'></a></mark>
    <mark><a href="/examedit/" target="iframe_a" style="color:blue"><input type = 'button' value = '+/-Edit'></a></mark>
</div>


<iframe height="80%" width="100%" style="border:none;" name="iframe_a"></iframe>





</body>
</html>


